# Node.js 依赖
node_modules/

# TypeScript 编译输出
lib/
dist/
*.d.ts
*.map

# 环境变量文件
.env
.env.local
.env.*.local

# 日志文件
logs
*.log

# 操作系统生成的文件
.DS_Store
Thumbs.db

# IDE/编辑器配置文件
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# 其他
coverage/
*.tgz
